#blackscreen {
  background-color: #000000;
  padding: 30px;
}

#leftLogo {
  width: 200px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#nav {
  background-color: #000000;
  margin-right: auto;
  width: 100%;
  height: 30px;
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: sticky;
  color: #FFFFFF;
}

#ContentBlock {
  width: 100%;
  margin: 0 auto;
}

div.left_content {
  width: 100%;
  border: 5px solid #FFFFFF;
  float: left;
  padding: 30px;
  text-align:center;
}

div.right_content {
  width: 50%;
  border: 5px solid #FFFFFF;
  float: right;
  padding: 30px;
  text-align:center;
}

#leftleft_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align:left;
}

.textbox {
  width: 90%;
  border: 5px solid #b3b7bb;
  padding: 70px;
  text-align:center;
  border-style: solid;
  border-radius: 9px;
  border-width: thin ;
}

.flex-container {
  display: flex;
  justify-content: space-between
}

form #login-button {
  padding:5px;
  border: none;
  text-align: center;
  width: 5em;
  margin: auto;
  background: white;
  border-radius: 20px;
}

form #create-button {
  padding:5px;
  border: none;
  text-align: center;
  width: 5em;
  margin: auto;
  background: white;
  border-radius: .5em;
}

form #edit-button {
  padding:5px;
  border: none;
  text-align: center;
  width: 5em;
  margin: auto;
  background: rgb(212, 3, 3);
  border-radius: .5em;
}

.link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

.form-container {
  width: 400px;
  margin: 0 auto;
}

.input-fields div {
  margin-bottom: 17px;
}

.button-container {
  text-align: center;
}

.button-container button {
  margin-right: 9px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.login-button {
  background-color: #b3b7bb;
  text-decoration: white;
  color: #fff;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.grey-button {
  background-color: #b3b7bb;
  text-decoration: white;
  color: #fff;
  padding: 8px 8px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.create-user-button {
  background-color: #f1ca4b;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 17px;
}

.change-pj-button {
  background-color: #030303;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 17px;
}

.logout-button {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.ykv {
  border: solid;
  border-radius: .5em;
  padding: .5em;
  padding-right: 2em;
  margin-top: .5em;
  margin-left: 0;
  width: 40vw;
}

.ykv-active {
  border: solid;
  border-radius: .5em;
  padding: .5em;
  padding-right: 2em;
  margin-top: .5em;
  margin-left: 0;
  width: 40vw;
  background-color: rgb(169, 245, 98)
}

.ykv2 {
  border: solid;
  border-radius: .5em;
  padding: .5em;
  padding-right: 2em;
  margin-top: .5em;
  margin-left: 0;
  width: 20vw;
}

input[type="checkbox"] {
  width: 1em;
  height: 1rem;
  accent-color: green;
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type="telegram"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input[type="username"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.popup {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;

  background-color: rgba(0,0,0,0.2); /* Black background with opacity */
  display: flex;
  justify-content: center;
  align-items: center
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #FFF
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #7e7979;
  color: #fff;
  border-radius: .75em;
  padding: 7px 7px
}

#content {
  position: relative;
  top: 0;
}

#centered_content {
  flex: 1; 
  height: 300px;
  display: block; 
  margin-left: 90px;
  border: 5px solid #b3b7bb;
  border-style: solid;
  border-radius: 9px;
  border-width: thin ;
}

.select-box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  width: 40%;
}
